.swiper {
    width: 100%;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center; 
    background-color: #eff4f8;
    padding: 2vh 0;
  }

  .swiper-wrapper{
    height: 100%;
  }
  
  .swiper-slide {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    object-fit: contain;
  }
  