.welcomeMSG {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  
    button {
      background-color: black;
      color: white;
      border: 1px solid white;
  
      &:hover {
        background-color: rgb(106, 106, 106);
      }
    }
  }
  
  .welcome{
    font-size: 2rem;
  }

  .navigation {
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    gap: 20px;
    /* background-color: var(--mc-color-green); */
    border-bottom: solid 1px rgba(255, 102, 52, 0.3);
    background-color: black;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    height: 80px;
    padding-right: 150px;
  
    .brand {
      img {
        user-select: none;
        width: 180px;
      }
  
      .banner {
        text-decoration: none;
        color: #fff;
        width: 270px;
        text-align: center;
        user-select: none;
        font-size: 2.2rem;
      }
    }
  
    .routes {
      display: flex;
      align-items: center;
      justify-content: left;
      gap: 20px;
  
      a {
        transition: all 500ms;
        text-decoration: none;
  
        color: #fff;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
  
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        padding: 6px 6px;
  
        .title {
          display: none;
        }
  
        &.active {
          border-top: 3px solid #fff;
          border-bottom: 3px solid #fff;
          color: #fff;
          svg {
            color: #fff;
          }
        }
  
        &:hover {
          border-bottom: 3px solid #fff;
          color: #fff;
        }
      }
    }
  }
  
  @media (min-width: 700px) {
    .navigation {
      .routes {
        a {
          .title {
            display: inline;
          }
        }
      }
    }
  }
  