.products{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 25px;
}

.sortContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    background-color: #eff4f8;
}

.sortButton{
    color: var(--green-color);
    font-size: 5rem;
    height: 100%;
}