:root {


    --font-zenloop: "Zen Loop";
    --font-nanum: "Nanum Gothic";

    --primary-font: var(--font-zenloop);
    --secondary-font: var(--font-nanum);

    /* Background colors */
    --sectionDescription-color : #33626c; 
    --sectionDescriptionButton-color : #829b97;
    --sectionTitleBox-color : #c5b496;
    --sectionFooter-color : #2a4f57;
    --sectionNavigation-color : #808080;
    --sectionShowNavigation-color : #637874;

    /* Text colors */
    --whiteFont-color : #fff;
    --blackFont-color : #000;
     

    --base-text-color : #213547;
    --base-background-color : #fff;
    
}

