:root {


    --font-frankRuhlLibre: "Frank Ruhl Libre";

    --primary-font: var(--font-frankRuhlLibre);

    /* Background colors */
    --green-color : #5e9a13; 
    --greyBackground-color : #eff4f8;


    /* Text colors */
    --whiteFont-color : #fff;
    --blackFont-color : #000;
     

    --base-text-color : #213547;
    --base-background-color : #fff;
    
}

